<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malcolm.daotest.mybatis.mapper.ProjectEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.malcolm.daotest.mybatis.model.ProjectEmployee">
    <id column="project_emp_assn_id" jdbcType="INTEGER" property="project_emp_assn_id" />
    <result column="project_id" jdbcType="INTEGER" property="project_id" />
    <result column="emp_id" jdbcType="INTEGER" property="emp_id" />
    <result column="update_user" jdbcType="VARCHAR" property="update_user" />
    <result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
  </resultMap>
  <sql id="Base_Column_List">
    project_emp_assn_id, project_id, emp_id, update_user, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_employee
    where project_emp_assn_id = #{project_emp_assn_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from project_employee
    where project_emp_assn_id = #{project_emp_assn_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.malcolm.daotest.mybatis.model.ProjectEmployee">
    insert into project_employee (project_emp_assn_id, project_id, 
      emp_id, update_user, update_date
      )
    values (#{project_emp_assn_id,jdbcType=INTEGER}, #{project_id,jdbcType=INTEGER}, 
      #{emp_id,jdbcType=INTEGER}, #{update_user,jdbcType=VARCHAR}, #{update_date,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.malcolm.daotest.mybatis.model.ProjectEmployee">
    insert into project_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="project_emp_assn_id != null">
        project_emp_assn_id,
      </if>
      <if test="project_id != null">
        project_id,
      </if>
      <if test="emp_id != null">
        emp_id,
      </if>
      <if test="update_user != null">
        update_user,
      </if>
      <if test="update_date != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="project_emp_assn_id != null">
        #{project_emp_assn_id,jdbcType=INTEGER},
      </if>
      <if test="project_id != null">
        #{project_id,jdbcType=INTEGER},
      </if>
      <if test="emp_id != null">
        #{emp_id,jdbcType=INTEGER},
      </if>
      <if test="update_user != null">
        #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="update_date != null">
        #{update_date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.malcolm.daotest.mybatis.model.ProjectEmployee">
    update project_employee
    <set>
      <if test="project_id != null">
        project_id = #{project_id,jdbcType=INTEGER},
      </if>
      <if test="emp_id != null">
        emp_id = #{emp_id,jdbcType=INTEGER},
      </if>
      <if test="update_user != null">
        update_user = #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="update_date != null">
        update_date = #{update_date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where project_emp_assn_id = #{project_emp_assn_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.malcolm.daotest.mybatis.model.ProjectEmployee">
    update project_employee
    set project_id = #{project_id,jdbcType=INTEGER},
      emp_id = #{emp_id,jdbcType=INTEGER},
      update_user = #{update_user,jdbcType=VARCHAR},
      update_date = #{update_date,jdbcType=TIMESTAMP}
    where project_emp_assn_id = #{project_emp_assn_id,jdbcType=INTEGER}
  </update>
</mapper>