<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.felleuch.daotest.mybatis.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.felleuch.daotest.mybatis.model.Employee">
    <id column="emp_id" jdbcType="INTEGER" property="emp_id" />
    <result column="emp_first_name" jdbcType="VARCHAR" property="emp_first_name" />
    <result column="emp_last_name" jdbcType="VARCHAR" property="emp_last_name" />
    <result column="emp_start_date" jdbcType="TIMESTAMP" property="emp_start_date" />
    <result column="emp_end_date" jdbcType="TIMESTAMP" property="emp_end_date" />
    <result column="designation_id" jdbcType="INTEGER" property="designation_id" />
    <result column="dept_id" jdbcType="INTEGER" property="dept_id" />
    <result column="mgr_id" jdbcType="INTEGER" property="mgr_id" />
    <result column="update_user" jdbcType="VARCHAR" property="update_user" />
    <result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
  </resultMap>
  <sql id="Base_Column_List">
    emp_id, emp_first_name, emp_last_name, emp_start_date, emp_end_date, designation_id, 
    dept_id, mgr_id, update_user, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employee
    where emp_id = #{emp_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from employee
    where emp_id = #{emp_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.felleuch.daotest.mybatis.model.Employee">
    insert into employee (emp_id, emp_first_name, emp_last_name, 
      emp_start_date, emp_end_date, designation_id, 
      dept_id, mgr_id, update_user, 
      update_date)
    values (#{emp_id,jdbcType=INTEGER}, #{emp_first_name,jdbcType=VARCHAR}, #{emp_last_name,jdbcType=VARCHAR}, 
      #{emp_start_date,jdbcType=TIMESTAMP}, #{emp_end_date,jdbcType=TIMESTAMP}, #{designation_id,jdbcType=INTEGER}, 
      #{dept_id,jdbcType=INTEGER}, #{mgr_id,jdbcType=INTEGER}, #{update_user,jdbcType=VARCHAR}, 
      #{update_date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.felleuch.daotest.mybatis.model.Employee">
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="emp_id != null">
        emp_id,
      </if>
      <if test="emp_first_name != null">
        emp_first_name,
      </if>
      <if test="emp_last_name != null">
        emp_last_name,
      </if>
      <if test="emp_start_date != null">
        emp_start_date,
      </if>
      <if test="emp_end_date != null">
        emp_end_date,
      </if>
      <if test="designation_id != null">
        designation_id,
      </if>
      <if test="dept_id != null">
        dept_id,
      </if>
      <if test="mgr_id != null">
        mgr_id,
      </if>
      <if test="update_user != null">
        update_user,
      </if>
      <if test="update_date != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="emp_id != null">
        #{emp_id,jdbcType=INTEGER},
      </if>
      <if test="emp_first_name != null">
        #{emp_first_name,jdbcType=VARCHAR},
      </if>
      <if test="emp_last_name != null">
        #{emp_last_name,jdbcType=VARCHAR},
      </if>
      <if test="emp_start_date != null">
        #{emp_start_date,jdbcType=TIMESTAMP},
      </if>
      <if test="emp_end_date != null">
        #{emp_end_date,jdbcType=TIMESTAMP},
      </if>
      <if test="designation_id != null">
        #{designation_id,jdbcType=INTEGER},
      </if>
      <if test="dept_id != null">
        #{dept_id,jdbcType=INTEGER},
      </if>
      <if test="mgr_id != null">
        #{mgr_id,jdbcType=INTEGER},
      </if>
      <if test="update_user != null">
        #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="update_date != null">
        #{update_date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.felleuch.daotest.mybatis.model.Employee">
    update employee
    <set>
      <if test="emp_first_name != null">
        emp_first_name = #{emp_first_name,jdbcType=VARCHAR},
      </if>
      <if test="emp_last_name != null">
        emp_last_name = #{emp_last_name,jdbcType=VARCHAR},
      </if>
      <if test="emp_start_date != null">
        emp_start_date = #{emp_start_date,jdbcType=TIMESTAMP},
      </if>
      <if test="emp_end_date != null">
        emp_end_date = #{emp_end_date,jdbcType=TIMESTAMP},
      </if>
      <if test="designation_id != null">
        designation_id = #{designation_id,jdbcType=INTEGER},
      </if>
      <if test="dept_id != null">
        dept_id = #{dept_id,jdbcType=INTEGER},
      </if>
      <if test="mgr_id != null">
        mgr_id = #{mgr_id,jdbcType=INTEGER},
      </if>
      <if test="update_user != null">
        update_user = #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="update_date != null">
        update_date = #{update_date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where emp_id = #{emp_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.felleuch.daotest.mybatis.model.Employee">
    update employee
    set emp_first_name = #{emp_first_name,jdbcType=VARCHAR},
      emp_last_name = #{emp_last_name,jdbcType=VARCHAR},
      emp_start_date = #{emp_start_date,jdbcType=TIMESTAMP},
      emp_end_date = #{emp_end_date,jdbcType=TIMESTAMP},
      designation_id = #{designation_id,jdbcType=INTEGER},
      dept_id = #{dept_id,jdbcType=INTEGER},
      mgr_id = #{mgr_id,jdbcType=INTEGER},
      update_user = #{update_user,jdbcType=VARCHAR},
      update_date = #{update_date,jdbcType=TIMESTAMP}
    where emp_id = #{emp_id,jdbcType=INTEGER}
  </update>



</mapper>